{% extends "base.html" %}
{% load static %}
{% block title %}Landing{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}

<div class="form-container">
    <h1>Welcome to the Silver Dollar City Foundation Portal</h1>
    <p>Please select an action below:</p>
    <div class="button-group">
        <h1>Landing Page</h1>
        <a class= "link-item" href="{% url 'app:recipient_agreement' %}">Recipient Agreement</a>
        <a class= "link-item"href="{% url 'app:w9_upload' %}">W9 Upload</a>
        <a class= "link-item"href="{% url 'app:dynamic_form' form_id=1 %}">Hope Grant Application New</a>
        <a class= "link-item"href="{% url 'app:dynamic_form' form_id=2 %}">Mid-Year Application New</a>
        <a class= "link-item"href="{% url 'app:dynamic_form_detail' form_id=1 submission_id=1 %}">Submission 1-1</a>
        <a class= "link-item"href="{% url 'app:submissions_table' %}">Application Table</a>
        <a class= "link-item"href="{% url 'accounts:password_change_internal' %}">Change Password Internal</a>
    </div>
</div>

{% endblock %}