{% extends "base.html" %}
{% load static %}

{% block title %}Hope Grant Application{% endblock %}
{% comment %} doing this so that the link is in a head tag {% endcomment %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}

<div class = "form-container">
<form method="post">
    <h1>Change Password</h1>
    <h6>Changing Password for {{request.user.username}}</h6>
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Change Password</button>
</form>
</div>
{% endblock %}