{% extends "base.html" %}
{% load static %}
{% load tz %}

{% block title %}{{ form_obj.name }}{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
<link rel="stylesheet" href="{% static 'css/comments.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    <a href="/" class="back-btn">← Back to Home</a>
    <h1>{{ form_obj.name }}</h1>

    <h2>Information Section</h2>

    {% if form_obj.due_date %}
    <p>Please submit by: <span id = "due-date">{{ form_obj.due_date }}</span></p>
    {% endif %}

    {% if form_obj.intro_text %}
    {{ form_obj.intro_text|linebreaks }}
    {% endif %}

    <form action = "{% url 'app:dynamic_form_detail' form_obj.id submission.id %}" method="POST">

        {% csrf_token %}

        <h2>Contact Information</h2>
        <div>{{ submission_form.first_name.label_tag }} {{ submission_form.first_name }}</div>
        <div>{{ submission_form.last_name.label_tag }} {{ submission_form.last_name }}</div>
        <div>{{ submission_form.email.label_tag }} {{ submission_form.email }}</div>
        <div>{{ submission_form.school_district.label_tag }} {{ submission_form.school_district }}</div>
        <div>{{ submission_form.project_name.label_tag }} {{ submission_form.project_name }}</div>

        <h2>Questions</h2>
        {% for a in answer_form %}
        <div>
            {{ a.label_tag }}
            {{ a }}
        </div>
        {% endfor %}

        {% if form_obj.footer_text %}
        {{ form_obj.footer_text|linebreaks }}
        {% endif %}

        {% if form_obj.footer_link %}
        <a href="{{ form_obj.footer_link }}" target="_blank">
            {{ form_obj.footer_link_label|default:"Click here" }}
        </a>
        {% endif %}

        {% if "hope" in form_obj.name|lower or form_obj.id == 1 %}
        {% if request.user.is_staff %}
        <button type="submit" style = "background-color:green;">
            <a href = "{% url 'app:recipient_form' reference_submission=submission.id %}" 
            style = "color:white;text-decoration:none;">Create Approval</a></button>
        {% endif %}
        {% endif %}

        {% if "agreement" in form_obj.name|lower%}
            <a href="{% url 'app:dynamic_form_detail' form_id=2 submission_id=submission.id %}" 
            style="background-color:green; color:white; text-decoration:none; padding:10px 15px; display:inline-block;">
                Save
            </a>
        {% endif %}

        {% if "end" in form_obj.name|lower %}
        <!-- display link -->
        {% endif %}
        {% if "end" in form_obj.name|lower %}
        <!-- display link -->
        {% endif %}

    </form>
</div>

    {% if request.user.is_staff %}
    <section id = "comment-section-down" style = "margin-top:50px;">
    <hr id = "comment_hr" style = "margin-bottom:25px;">
        <h1>Comments and Notes</h1>
        <h5>Need to leave a note?</h5>
        <h5>View and write comments here.</h5>
        {% localtime on %}
        {% for comment in comment_obj %}
            <div class="comment">
                <p class = "comment_header"><strong>{{ comment.name }}</strong> wrote:</p>
                <p class = "comment_text">{{ comment.message }}</p>
                <p class = "timestamp">
                    {% localtime on %} 
                        {{comment.created_at}} 
                        {% endlocaltime %}
                    </p>
            </div>
        {% empty %}
            <p style = "padding-top:20px;">No comments yet.</p>
        {% endfor %}
        
        <div class="pagination">
            <span class="step-links">
                {% if comment_obj.has_previous %}
                <a href="?page=1#comment-section-down">&laquo; first</a>
                <a href="?page={{ comment_obj.previous_page_number }}#comment-section-down">previous</a>
                {% endif %}
                <span class="current">Page {{ comment_obj.number }} of {{ comment_obj.paginator.num_pages }}.</span>
                {% if comment_obj.has_next %}
                <a href="?page={{ comment_obj.next_page_number }}#comment-section-down">next</a>
                <a href="?page={{ comment_obj.paginator.num_pages }}#comment-section-down">last &raquo;</a>
                {% endif %}
            </span>
        </div>

    <div class = "form-container" style = "margin-left:0;margin-top:25px;">
        <form method="POST">
            <h2>Write Something...</h2>
            {% csrf_token %}
                <div>{{ commentform.name.label_tag }} {{ commentform.name }}</div>
                <div>{{ commentform.message.label_tag }} {{ commentform.message }}</div>
            <button type="submit" id="btn-midyear-submit">Submit Comment</button>
        </form>
        </div>
    </section>

{% endlocaltime %}
{% endif %}
{% endblock %}