{% extends "base.html" %}
{% load static %}

{% block title %}Hope Grant Application{% endblock %}
{% comment %} doing this so that the link is in a head tag {% endcomment %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Forgot Username</h2>
    <p>Please enter the email associated with your account.</p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Send Username</button>
    </form>
</div>
{% endblock %}