{% extends "base.html" %}
{% load static %}

{% block title %}Register{% endblock %}
{% comment %} doing this so that the link is in a head tag {% endcomment %}
{% block extra_styles %}


    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}

<div class="form-container">
<h2>Register</h2>

<form method="POST">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <p>
        <label>Username:</label><br>
        {{ form.username }}
        {{ form.username.errors }}
    </p>

    <p>
        <label>Email:</label><br>
        {{ form.email }}
        {{ form.email.errors }}
    </p>

    <p>
        <label>Password:</label><br>
        {{ form.password1 }}
        {{ form.password1.errors }}
    </p>

    <p>
        <label>Confirm Password:</label><br>
        {{ form.password2 }}
        {{ form.password2.errors }}
    </p>

    <button type="submit">Register</button>
</form>

<p>
    Already have an account? <a href="/login">Login</a>
</p>
</div>
{% endblock %}